<!--
Your HTML goes here, you shouldn't touch the layout
-->
<center>
	<h1>yey! I'm <span></span></h1>
	<p><%= message %></p>
	<p>[status]</p>
	<h3 class="status-holder"> ... </h3>

	<p class="controls">
		<input type="button" class="clear_button" value="clear session">
<<<<<<< HEAD
		<br>
		<br \>
		<button id="record">Rec</button>
		&nbsp; &nbsp
		<a id="save" disabled>Save</a>
		&nbsp; &nbsp;
=======
>>>>>>> 330c0c30dd13e6d27e181079145fd3f007356d93
	</p>

	<p>[time]</p>
    <div id="time"> ... </div>
<<<<<<< HEAD
    <p>[peaksample]</p>
=======
    <p>[current time]</p>
>>>>>>> 330c0c30dd13e6d27e181079145fd3f007356d93
    <div id="peaksample"> ... </div>
    <p>[sample value]</p>
    <div id="samplevalue"> ... </div>
</center>