<!--
Your HTML goes here, you shouldn't touch the layout
-->
<center>
	<h1>yey! I'm <span></span></h1>
	<p><%= message %></p>
	<p>[status]</p>
	<h3 class="status-holder"> ... </h3>

	<p class="controls">
		<input type="button" class="clear_button" value="clear session">
	</p>

	<p>[time]</p>
    <div id="time"> ... </div>
    <p>[current time]</p>
    <div id="peaksample"> ... </div>
    <p>[sample value]</p>
    <div id="samplevalue"> ... </div>
</center>