<!--
Your HTML goes here, you shouldn't touch the layout
-->
<center>
	<h1>yey! I'm <span></span></h1>
	<p><%= message %></p>
	<p>[status]</p>
	<h3 class="status-holder"> ... </h3>

	<p class="controls">
		<input type="button" class="clear_button" value="clear session">
		&nbsp; &nbsp 
		<input type="button" class="reset_button" value="reset timesync">
		<br>
		<br \>
		<button id="record">Rec</button>
		&nbsp; &nbsp
		<a id="save" disabled>Save</a>
		&nbsp; &nbsp;
	</p>

	<p>[time]</p>
    <div id="time"> ... </div>
    <p>[peaksample]</p>
    <div id="peaksample"> ... </div>
    <p>[sample value]</p>
    <div id="samplevalue"> ... </div>
</center>