<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="icon" type="image/png" href="./img/favicon.ico" />
    <link rel='stylesheet' href='./css/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var serverID = "<%= serverID %>";
    </script>
  </head>
  <body>
    <% include body %>
    <script src="./js/lib/normalize.js"></script>
    <script src="./js/lib/socketId.js"></script>
    <script src="./js/lib/recorder.js"></script>
    <script src="./js/lib/platform.js"></script>
    <script src="./js/audio.js"></script>
    <script src="./js/client.js"></script>
  </body>
</html>