<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
<<<<<<< HEAD
    <link rel="icon" type="image/png" href="./img/favicon.ico" />
    <link rel='stylesheet' href='./css/style.css' />
=======
    <link rel="icon" type="image/png" href="/img/favicon.ico" />
    <link rel='stylesheet' href='/css/style.css' />
>>>>>>> 330c0c30dd13e6d27e181079145fd3f007356d93
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var serverID = "<%= serverID %>";
    </script>
  </head>
  <body>
    <% include body %>
<<<<<<< HEAD
    <script src="./js/lib/normalize.js"></script>
    <script src="./js/lib/socketId.js"></script>
    <script src="./js/lib/recorder.js"></script>
    <script src="./js/lib/platform.js"></script>
    <script src="./js/audio.js"></script>
    <script src="./js/client.js"></script>
=======
    <script src="/js/fixes.js"></script>
    <script src="/js/client.js"></script>
>>>>>>> 330c0c30dd13e6d27e181079145fd3f007356d93
  </body>
</html>