body {
	background: rgb(255, 255, 0);
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.controls {
  text-align: center;
}
.clear_button {
<<<<<<< HEAD
  font-size: 14pt;
=======
  font-size: 16pt;
>>>>>>> 330c0c30dd13e6d27e181079145fd3f007356d93
}